{% extends 'base.html' %}
{% block head %}
<title>管理员界面</title>
{% endblock %}
{% block body %}
<h1>玩家数据录入</h1>
<form method="POST" action="/admin" enctype="multipart/form-data">
    <label for="UserData">选取上传数据</label>
    <input type="file" id="UserData" name="UserData" required>
    <br><br>
    <button type="submit">确认上传</button>
</form>
<h2>游戏数据录入</h2>
<form method="POST" action="/admin" enctype="multipart/form-data">
    <label for="GameData">选取上传数据</label>
    <input type="file" id="GameData" name="GameData" required>
    <br><br>
    <button type="submit">确认上传</button>
</form>
<h3>报名数据录入</h3>
<form method="POST" action="/admin" enctype="multipart/form-data">
    <label for="Register">选取上传数据</label>
    <input type="file" id="Register" name="Register" required>
    <br><br>
    <button type="submit">确认上传</button>
</form>
{% endblock %}