<header class="mb-4">
    <div class="row mb-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="col-lg-12 mx-auto">
            <h2 class="heading">现场团报名</h2>
        </div>
        <!-- <form action="../../active/login" method="post"> -->
        <form id="login-form">
            <div id="logindiv" class="col-lg-6 mx-auto row">
                <div class="col-lg-12 mx-auto text-red-500">
                    选团时间：<br>
                    5月16日晚上20点双日票大旅法师通行证选团 <br>
                    5月17日中午12点单日票旅法师通行证选团<br>
                    网站账号：购票时填写的电话号码<br>
                    网站密码：购票时填写的电话号码
                </div>
                <div class="col-lg-5">
                    <input class="form-control" type="text" id="username" name="username" required placeholder="报名的手机号">
                </div>
                <div class="col-lg-5">
                    <input class="form-control" type="password" id="password" name="password" required placeholder="密码（与手机号相同）">
                </div>
                <button class="btn btn-primary col-lg-2" type="submit">登录</button>
            </div>
        </form>
    </div>
    <!-- 团信息 -->

    <p class="lead text-muted wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

        <strong class="text-primary">可以取消</strong>报名改报其他团，站内既可以操作

    </p>
</header>