body {
    mergin: 0;
    font-family: sans-serif;
}
.center-table {
   margin: 0 auto;
}
.overlay {
    display: none; /* hidden initially */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5); /* semi-transparent black */
}